<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
  <title>Grundlage interaktiver Systeme - Wintersemester 2020/2021</title>
</head>

<body>
  <header class="page-header" role="banner">
    <div class="page-header-inner main-content">
      <div class="logo-wrapper">
        <div class="logo"></div>
      </div>
      <h1 class="project-name"><a href="{{ site.url }}">{{ site.fulltitle }}</a></h1>
      <h2 class="project-tagline">{{ site.subtitle }}</h2>
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/content/#1-html-und-css"><strong>1</strong> HTML und CSS</a></em>
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/content/#2-typescript"><strong>2</strong> TypeScript</a></em>
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/content/#3-server-und-datenbanken"><strong>3</strong> Server und Datenbanken</a></em>
    </div>
  </header>
  <main id="content" class="main-content content-wrapper" role="main">
    {{ content }}
    <footer class="site-footer">
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/">Über diesen Kurs</a></em>
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/content/">Lehrinhalte</a></em>
      <em><a href="https://hs-furtwangen.github.io/GIS-WiSe-2020-2021/final/">Modulprüfung</a></em>
    </footer>
  </main>
</body>

</html>
